body{
    padding: 50px;
    background-color: #f8f7e2;
}
form{
    padding:1px;
}
div{
    padding:5px;
}
label{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
fieldset{
    background-color: #e6e6e6;
}
legend{
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.buttonstyle{
    text-align: center;
    font-weight: 900;
}